---
import DownloadTabs from "./tabs-list"
---

<section class="mt-[100px] w-full">
  <h3
    class="text-center text-2xl font-bold underline underline-offset-4 md:text-3xl"
    id="download"
  >
    Download
  </h3>
  <DownloadTabs client:visible />
</section>
