.next
node_modules
out
public
src-tauri
pnpm-lock.yaml
/**/dist
.pnpm-store
**/components/ui
**/*.gen.ts
.all-contributorsrc
.astro
env.d.ts
apps/desktop/src/bindings.ts
apps/web/src/content/docs/references/settings.mdx
crates/settings/schema.json
