---
import Card from "@/components/Card.astro"
---

<Card header="A CLI to boost your productivity">
  <div slot="content" class="space-y-6">
    <p>
      You can establish and/or save on the fly connections from your terminal
      easly with our shipped-by-default CLI.
    </p>
    <div class="border p-3 rounded-lg border-white/50">
      <code lang="bash">$ TableX sqlite:test.db -c test -s</code>
    </div>
  </div>
</Card>
