---
import Card from "@/components/Card.astro"
---

<Card header="You live in the terminal? We Got You.">
  <div slot="content" class="space-y-6">
    <p>
      You can establish and/or save on the fly connections from your terminal
      easly with our CLI.
    </p>
    <div class="border p-3 rounded-lg border-white/50">
      <code lang="bash">$ TableX sqlite:test.db -c test -s</code>
    </div>
  </div>
</Card>
