---
import Card from "@/components/Card.astro"
import MetaXFeatureCard from "./MetaXFeatureCard.astro"
---

<Card class="md:flex-col" header="RESTfull & GraphQL APIs for your database">
  <p slot="content" class="text-muted-foreground">
    <span class="text-foreground font-semibold">TableX</span>, thanks to{" "}
    <a
      class="text-foreground underline"
      href="https://github.com/kareemmahlees/meta-x"
    >
      MetaX{" "}
    </a>
    , Automatically generates a RESTfull and GraphQL APIs for your database that
    is:
    <br />
    <ul class="list-inside list-disc indent-4 text-muted-foreground">
      <li>Fully documented.</li>
      <li>Works with any type of databases.</li>
      <li>A playground to test your GraphQL queries</li>
      <li>No effort from you what so ever.</li>
    </ul>
    Just connect and start running 🚀.
  </p>
  <section class="mt-6 grid grid-cols-2 gap-4">
    <MetaXFeatureCard
      imgSrc="https://cdn.simpleicons.org/swagger/white"
      alt="Swagger"
    />
    <MetaXFeatureCard
      imgSrc="https://cdn.simpleicons.org/graphql/white"
      alt="GraphQL"
    />
    <MetaXFeatureCard imgSrc="/globe.svg" alt="REST" />
    <MetaXFeatureCard imgSrc="/play.svg" alt="Playground" />
  </section>
</Card>
