---
import { cn } from "@tablex/lib/utils"
import { Image } from "astro:assets"

interface Props {
  imgSrc: string
  alt: string
  class?: string
}

const { imgSrc, alt, class: cls } = Astro.props
---

<section
  class={cn(
    cls,
    "flex flex-col items-center justify-center gap-y-1 rounded-lg border-[1px] border-[#333333] bg-[#111111] p-5 "
  )}
>
  <Image src={imgSrc} alt={alt} class="h-10 w-10" width={40} height={40} />
  <p class="text-muted-foreground">{alt}</p>
</section>
