---
import Card from "@/components/Card.astro"
import ShortcutsTable from "./shortcuts-table"
---

<Card class="md:flex-col" header="Keyboard shortcuts everywhere">
  <div slot="content">
    <p>If you Love to use your keyboard very often, We Got you.</p>
    <br />
    <span class="text-foreground font-semibold">TableX</span> is designed to be keyboard
    friendly from the start, while we don&apos;t have that much of shortcuts available
    right now, but more and more will be added soon.
  </div>
  <ShortcutsTable />
</Card>
