---

---

<footer
  class="text-muted-foreground mt-[100px] text-center text-sm md:text-base mx-3 sm:mx-0 md:pb-5"
>
  <p>
    Developed by{" "}
    <a
      class="text-white underline"
      href="https://kareem-ebrahim.vercel.app/"
      target="_blank"
      rel="noreferrer"
    >
      @kareem-ebrahim
    </a>
    , Code available on{" "}
    <a
      class="text-white underline"
      href="https://github.com/kareemmahlees/tablex"
      target="_blank"
      rel="noreferrer"
    >
      Github
    </a>
  </p>
</footer>
