---
import { buttonVariants } from "@/components/ui/button"
import MaxWidthWrapper from "@/layouts/MaxWidthWrapper.astro"
import { cn } from "@tablex/lib/utils"
import { Image } from "astro:assets"
import { ArrowRight } from "lucide-react"
import Overview from "../../../public/overview.png"
import AnimatedStar from "./animated-star"
import DownloadBtn from "./download-btn"
---

<header class="flex flex-col items-center gap-y-40">
  <MaxWidthWrapper
    className="relative mt-24 flex flex-col items-center gap-y-6 break-keep md:mt-32 md:gap-y-8"
  >
    <div
      class="rounded-3xl p-px bg-gradient-to-bl from-gray-400 to-transparent to-95%"
    >
      <a
        href="https://github.com/kareemmahlees/tablex"
        target="_blank"
        class="bg-background rounded-[calc(1.5rem-1px)] px-3 py-1 flex items-center gap-x-1 text-xs sm:text-sm md:text-base group"
        ><p class="text-center mb-1">We are open source</p>
        <ArrowRight
          className="h-4 w-4 group-hover:translate-x-1 transition-transform"
          strokeWidth={1.5}
        /></a
      >
    </div>

    <h1 class="text-center text-4xl font-bold md:text-5xl lg:text-6xl">
      Cross-Platform Table viewer written in Rust
    </h1>
    <p class="text-muted-foreground text-center md:text-lg lg:text-xl">
      Secure, Tiny, Fast and Ergonomic Database browsing experience
    </p>
    <div class="flex flex-col items-center gap-y-5">
      <div class="flex items-center gap-x-7">
        <DownloadBtn client:only="react" />
        <a
          href="https://github.com/kareemmahlees/tablex"
          target="_blank"
          rel="noreferrer"
          class={cn(
            buttonVariants({
              variant: "secondary"
            }),
            "hover:bg-secondary group relative"
          )}
        >
          <Image
            alt="github icon"
            src="https://cdn.simpleicons.org/github/white"
            inferSize={true}
            class="h-5 w-5"
            loading={"eager"}
          />
          <AnimatedStar client:load />
        </a>
      </div>
      <a
        href=""
        rel="noreferrer"
        class={buttonVariants({ variant: "secondary" })}>Browse Docs</a
      >
    </div>
  </MaxWidthWrapper>
  <div
    class="w-[400px] md:w-[600px] lg:w-[1080px] relative flex flex-col items-center"
  >
    <Image
      src={Overview}
      alt="overview"
      aria-hidden
      class="mt-5 rounded-sm [mask-image:linear-gradient(black,gray,transparent_85%)]"
      loading={"eager"}
    />
    <div class="w-[75%] h-[25%] bg-white absolute -top-5 blur-3xl -z-10"></div>
    <div class="w-[50%] h-[25%] bg-white absolute top-0 blur-xl -z-10"></div>
  </div>
</header>
