name: Lint Commits & Code

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          sparse-checkout: .

      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - recursive: false
              args: [--frozen-lockfile]

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: Enable Corepack
        run: corepack enable

      - name: Install commitlint
        run: |
          pnpm add -w conventional-changelog-conventionalcommits
          pnpm add -w commitlint@latest
      - name: Validate latest commit
        if: github.event_name == 'push'
        run: npx commitlint --from HEAD~1 --to HEAD --verbose
      - name: Validate PR commits
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
  eslint-prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: Enable Corepack
        run: corepack enable

      - name: Run Lint
        run: pnpm ts:lint

      - name: Run Prettier
        run: pnpm format:check
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: recursive
          sparse-checkout: |
            apps/core/src-tauri

      - name: Install tauri specific dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev librsvg2-dev
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "apps/core/src-tauri -> target"

      - uses: pnpm/action-setup@v2

      - name: Run Clippy
        run: pnpm rust:lint
