name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release-app:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-20.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            apps/core
      - name: Checkout MetaX's repo
        uses: actions/checkout@v4
        with:
          repository: kareemmahlees/meta-x
          path: apps/meta-x

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev librsvg2-dev

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "apps/core/src-tauri -> target"

      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - recursive: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Run prepare-metax script
        run: |
          go build -C ./apps/meta-x/ -o ../bin/
          go run ./apps/scripts/suffex-meta-x.go

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          releaseId: ${{ github.event.release.id }}
          projectPath: ./apps/core
          tauriScript: pnpm tauri
          args: --config src-tauri/tauri.conf.sidecar.json
