name: Test Astro Build

on:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "public/**"
      - ".husky/**"
      - ".gitignore"
      - ".github/**"
      - ".vscode/**"
      - ".changeset/**"
      - "apps/core/**"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "public/**"
      - ".husky/**"
      - ".gitignore"
      - ".github/**"
      - ".vscode/**"
      - ".changeset/**"
      - "apps/core/**"
  workflow_dispatch:

jobs:
  test-vite:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            apps/web

      - name: Setup Node & PNPM
        uses: ./.github/actions/setup-node-pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lock

      - name: Run Astro build
        run: pnpm astro:build
